<!DOCTYPE html>

<html>

<head>
    <title> my web page</title>
</head>

<body>
    
    <h1>Ascii-Art-Web</h1>

    <!-- Here is the form <tag> it take input in a provided box  -->
    <form>
        <label for="text" ><strong> Enter your input: </strong></label><br>
    <input text="text"  name="text">
    </form><br>

    <strong><p>choose banner ↓</p></strong>
    <select>
        <option>standard</button></option>
        <option>shadow</option>
        <option>thinkertoy</option>
    </select>

</body>

</html>